
.mainContainer{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: rgb(220, 230, 230);
  // background: linear-gradient(176deg, rgba(238,226,174,1) 40%, rgba(212,181,219,1) 80%, rgba(178,178,178,1) 100%);
  
  .header-container{
    // background-color: rgb(43, 109, 139);
    background: linear-gradient(180deg, rgba(43, 109, 139,1) 40%, rgb(26, 81, 106) 80%, rgba(3, 42, 70,1) 150%);
    .header-container-first-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }

    .header-container-info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  .addAndSearchBar-container {
    background-color: rgb(3, 42, 70);
  }

  .application-list-container {
    height: max-content;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(240, 250, 250, 0.692);
    
    @media screen and (max-width: 1200px) {
        border-radius: 0;
    }
}


  .checkbox{
    margin: 0 10px;
  }

  .item-container{
    height: max-content;
    margin: 15px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    // hover behaviour for mass select, edit and delete icon
    // .checkbox,
    // .item-hover-toolbar-delete-button, 
    // .item-hover-toolbar-edit-button {
    //   display: none;
    // }
  
    // .item-hover:hover {
    //   //.checkbox,
    //   //.item-hover-toolbar-delete-button, 
    //   .item-hover-toolbar-edit-button {
    //     display: block;
    //   }
    // }
    
    .item-hover-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: auto;

      .item-start-block{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
      }

      .item-hover-toolbar-edit-button {
        color: rgb(5, 97, 147);
        :hover{
          cursor: pointer;
        }
      }

      .item-dragDrop {
        :hover{
          cursor: grab;
        }
        :active {
          cursor: grabbing;
        }
      }

      .job-name{
        padding: 0 10px;
      }
      .link-container{
        padding: 0 10px;
        overflow-wrap: anywhere;
      }
    }
  }

  .item-end-column {
    padding: 6px;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;

    .item-delete-button {
      color: rgb(147, 5, 5); 
      :hover{
        cursor: pointer;
      }
    }

    .date-box {
      padding: 0px;
    }
  }
}

.truncate-link {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.truncate-link:hover {
  overflow: visible;
  white-space: normal;
  max-width: fit-content;
}
