
.mainContainer{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: rgb(238,226,174);
  background: linear-gradient(176deg, rgba(238,226,174,1) 40%, rgba(212,181,219,1) 80%, rgba(178,178,178,1) 100%);
  
  .header-container{
    padding: 50px 10px 10px 10px;
    .header-container-first-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }
  }

  .application-list-container{
    height: max-content;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(233, 231, 199, 0.692);
  }

  .checkbox{
    margin: 0 10px;
  }

  .item-container{
    height: max-content;
    margin: 15px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 254, 245);
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    // hover behaviour for mass select, edit and delete icon
    // .checkbox,
    .item-hover-toolbar-delete-button, 
    .item-hover-toolbar-edit-button {
      display: none;
    }
  
    .item-hover:hover {
      //.checkbox,
      //.item-hover-toolbar-delete-button, 
      .item-hover-toolbar-edit-button {
        display: block;
      }
    }
    
    .item-hover-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;

      .item-hover-toolbar-edit-button {
        color: rgb(5, 97, 147);
        :hover{
          cursor: pointer;
        }
      }

      .item-hover-toolbar-delete-button {
        color: rgb(147, 5, 5);
        :hover{
          cursor: pointer;
        }
      }

      .item-dragDrop {
        :hover{
          cursor: grab;
        }
        :active {
          cursor: grabbing;
        }
      }

      .job-name{
        padding: 0 10px;
      }
      .link-container{
        padding: 0 10px;
        overflow-wrap: anywhere;
      }
    }
  }

  
}

.add-item-container{
  input{
    padding: 0 0 0 10px;
    width: -webkit-fill-available;
    height: 100%;
  }

  .full-width{
    width: -webkit-fill-available;
  }
}

.truncate-link {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.truncate-link:hover {
  overflow: visible;
  white-space: normal;
  max-width: fit-content;
}
